* {
    margin: 0;
    padding: 0;
}

/* body {
    background: rgb(49, 49, 49);
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;

} */

#parent {
    background: rgba(24, 24, 24);
    width: 98vw;
    margin: 0;
    /* Add oveflow auto to container */
    overflow: auto;
    margin-top: 10px;
    min-height: 500px;
    position: absolute;
    left: 0px;
}

.box {
    margin: 10px;
    width: 20px;
    min-height: 20px;
    padding: 1px;
    background: rgb(112, 184, 226);
    position: absolute;
    /* style */
    border: solid;
    border-width: 2px;
    border-color: yellow;
    left: 0px;
    top: 0px;

}

/* #textContainer {
    margin: 0 auto;
    width: 45vw;
    background: rgba(0, 0, 0);
    min-height: 200px;
    text-wrap: wrap;
    /* style
    border: solid;
    border-width: 2px;
    border-color: rgb(0, 183, 255);
    border-radius: 5px;
    padding: 12px;
} */