* {
    margin: 0;
    padding: 0;
}

#parent {
    background: rgba(24, 24, 24);
    width: 95vw;
    height: 90vh;
    margin: auto;
    /* Add oveflow auto to container */
    overflow: auto;
    margin-top: 30px;
    min-height: 500px;
    position: relative;
    left: 0px;
    border: 2px solid rgb(0, 26, 255);
    background-color: black;
}

.box {
    margin: 10px;
    width: 20px;
    min-height: 20px;
    padding: 1px;
    background: rgb(112, 184, 226);
    position: absolute;
    /* style */
    border: solid;
    border-width: 2px;
    border-color: yellow;
    left: 0px;
    top: 0px;
}

.target {
    position: absolute;
    margin: 10px;
    width: 20px;
    min-height: 20px;
    padding: 1px;
    background-color: blue;
    border: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
}