* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent {
    position: relative;
    width: 95vw;
    height: 90vh;
    min-height: 500px;
    margin: 30px auto 0 auto;
    background-color: black;
    border: 2px solid rgb(0, 26, 255);
    overflow: hidden;
}

.box {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(112, 184, 226);
    border: 2px solid yellow;
}

.target {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border: 2px solid red;
}

#scoreCounter {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px 15px;
    z-index: 1000;
}