   #a,#a_res {
        background-color: #db1d2d;
        border: 3px solid #e8cacc;}
 
    #b,#b_res{
        background-color: #f0421c;
        border: 3px solid #e8cacc;}
 
    #c,#c_res{
        background-color: #fec02d;
        border: 3px solid #e8cacc;}
 
    body{
          background:black;
        }
 
        .theButtons {
        width: 200px; /*(1/10th) viewport width */
        height: 200px;
        color:rgb(62, 58, 58);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-left:50px;
      }


      .theRes {
        width: 200px; /*(1/10th) viewport width */
        min-height: 200px;
        max-height:min-content;
        color:rgb(62, 58, 58);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-left:50px;
      }
   
    .wrapper{
        display:flex;
      }
   
 
    .titleBar {
      display:inline-block;
      width:50%;
      text-align: center;
      margin-left:20%;
      padding:5%;
      margin-top:5%;
    }
    .titleBar:hover{
        cursor: pointer;
        color:white;
        background-color:rgba(255,255,255,0.5);
       

    }
     input[type=text]{
        width:90%;
         margin:5%; 
    } 

    input[type=button]{
        margin-left:50px;
        margin-bottom: 10px;
    } 

    .back{
        margin-top:50px;
        padding:50px;
        background-color: aliceblue;
    }

    .textRet{
        padding-left:10px;
        font-size: 12px;
        font-weight: normal;
    }