body {
    background: rgb(52, 52, 52);
    margin: 0;
    padding: 0;
    color: white;
    opacity: .85;
    font-family: 'Roboto', sans-serif;

}

#parent {
    margin: 10px;
    background-color: #625863;
    border-top: 0px;
    width: calc(100vw - 20px);
    height: 100vh;
    position: relative;
}

.appearInText {
    font-size: 14px;
    color: white;

}

.appearInStarText {
    font-size: 24px;
    color: rgb(239, 208, 97);
}

.timeOutText {
    font-size: 48px;
    color: rgb(239, 97, 211);
}

.grid-cell {
    width: 25px;
    height: 25px;
    background: rgb(238, 97, 97);
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 2px;

}

#particle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: white;
    position: absolute;
}

#particle_two {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgb(239, 109, 109);
    position: absolute;
    transform: translate(-50%, -50%);
}