* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(49, 49, 49);
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

#parent {
    background: rgba(24, 24, 24);
    width: 98vw;
    margin: 0 auto;
    /* Add oveflow auto to container */
    overflow: auto;
    margin-top: 10px;
    min-height: 500px;
    position: relative;
}

.box {
    margin: 10px;
    width: max-content;
    min-height: 40px;
    padding: 15px;
    background: rgb(112, 184, 226);
    position: relative;
    /* style */
    border: solid;
    border-width: 2px;
    border-color: yellow;
}

#textContainer {
    margin: 0 auto;
    width: 45vw;
    background: rgba(0, 0, 0);
    min-height: 200px;
    text-wrap: wrap;
    /* style */
    border: solid;
    border-width: 2px;
    border-color: rgb(0, 183, 255);
    border-radius: 5px;
    padding: 12px;
}