body {
    padding: 0;
    margin: 0;

}

.sky {
    width: 100vw;
    height: 280px;
    position: relative;
    padding: 0;
    margin: 0;
}

.grass {
    width: 100vw;
    height: calc(100vh - 280px);
    position: relative;
    padding: 0;
    margin: 0;
}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

/* flower style */
.flower {
    padding: 0;
    margin: 0;
    position: absolute;
}

.petal {
    padding: 0;
    margin: 0;
    position: absolute;
    border-style: solid;
}

.bee {
    padding: 0;
    margin: 0;
    position: absolute;
    animation: bees 5s linear infinite;
}

@keyframes bees {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(225deg);
    }
}

.beehive {
    position: absolute;
    rotate: 0deg;
    border-radius: 55% 55% 45% 45%;
    box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.08), inset 0 0 0 2px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.beehive__stripe {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% / 5);
    background: rgba(160, 105, 25, 0.28);
    border-top: 1px solid rgba(120, 70, 10, 0.25);
}

.beehive__hole {
    position: absolute;

    justify-items: center;
    /* centers the text in the middle of the hole div */

    width: 40%;
    height: 42%;
    left: 32%;
    top: 38%;
    border-radius: 50%;
    background: rgba(60, 40, 10, 0.8);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
}

.beehive__hole h3 {
    color: rgba(244, 195, 110, 0);
    /* default alpha to transparent. becomes visible when click event */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}